<h1>Don't be Shy</h1>
<br>
<div class="row">
  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7463.758342607555!2d-103.3740449!3d20.715130600000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2smx!4v1499123054789" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>

  <div class="col-md-6 text-left social-links">
        <br>
        <p>Av. La Paz 2120,</p>
        <p> Colonia Lafayette,</p> 
        <p>Guadalajara, Jalisco.</p>
        <hr>
        <p><%= number_to_phone "1234567890" %></p>   
        <p>
          <a href="mailto:romtega88@gmail.com" "Let's do some magic">romtega88@gmail.com</a>
        </p>
        <hr>
        <a href="#"><%= fa_icon "github", class: "fa-3x" %></a>
        <a href="#"><%= fa_icon "instagram", class: "fa-3x" %></a>
        <a href="#"><%= fa_icon "twitter", class: "fa-3x" %></a>
        <a href="#"><%= fa_icon "google-plus", class: "fa-3x" %></a>


  </div>

</div>

